                            * {
                                padding: 0;
                                margin: 0;
                                box-sizing: border-box;
                            }
                            
                            body,
                            html {
                                background-color: #ffffff;
                                font-family: Arial, sans-serif;
                            }
                            
                            h1 {
                                text-align: center;
                            }
                            
                            h1.titulo {
                                text-align: center;
                                padding: 20px;
                                background-color: #2737c6;
                                color: white;
                            }
                            
                            nav {
                                list-style: none;
                                text-align: center;
                            }
                            
                            nav ul li {
                                display: inline;
                                margin: 0 15px;
                            }
                            
                            nav ul li a {
                                text-decoration: none;
                                color: #007bff;
                            }
                            
                            .navbar-custom a {
                                color: white;
                                font-size: 1.2em;
                            }
                            
                            .navbar-custom .dropdown-menu {
                                background-color: black;
                            }
                            
                            .navbar-custom .dropdown-item {
                                color: white;
                                font-size: 1.2em;
                            }
                            
                            .navbar-custom .dropdown-item:hover {
                                background-color: rgb(167, 159, 229);
                            }
                            
                            .navbar-custom .navbar-brand,
                            .navbar-custom .nav-link {
                                color: white;
                                transition: color 0.3 ease;
                            }
                            
                            .navbar-custom .nav-link:hover,
                            .navbar-custom .dropdown-item:hover {
                                color: #007bff
                            }
                            
                            .navbar-custom .nav-link {
                                padding: 0.5em 1em;
                            }
                            
                            form {
                                max-width: 400px;
                                margin: 0 auto;
                            }
                            
                            form label {
                                display: block;
                                margin-bottom: 5px;
                            }
                            
                            form input,
                            form select {
                                width: 100%;
                                padding: 8px;
                                margin-bottom: 10px;
                            }
                            
                            form button {
                                width: 100%;
                                padding: 10px;
                                background-color: #007bff;
                                color: white;
                                border: none;
                                cursor: pointer;
                            }
                            
                            form button:hover {
                                background-color: #0056b3;
                            }
                            
                            .table-bordered th,
                            .table-bordered td {
                                border: 1px solid #dee2e6;
                                text-align: center;
                            }
                            
                            .table thead th {
                                background-color: #007bff;
                                color: white;
                                text-align: center;
                            }